<button class="accordion">About</button>
<div class="panel">
    <p>SkillCache was inspired by the need for tech professionals to have a dedicated platform to showcase their skills and projects. Our goal is to make it easier for you to create a professional portfolio and connect with potential employers or clients.</p>
    <p>This project was developed as part of the Holberton School curriculum by:</p>
    <p>Godwin Uwen - <a href="https://linkedin.com/in/godwin-uwen" target="_blank">LinkedIn</a> | <a href="https://github.com/godwinuwen" target="_blank">GitHub</a></p>
    <p>Ayomitan Omotayo - <a href="https://linkedin.com/in/ayomitan-omotayo" target="_blank">LinkedIn</a> | <a href="https://github.com/ayomitan" target="_blank">GitHub</a> | <a href="https://twitter.com/ayomitan" target="_blank">Twitter</a></p>
    <p>View the source code on <a href="https://github.com/uwen-godwin/SkillCache" target="_blank">GitHub</a></p>
</div>
